<nav class="navbar-sm navbar-dark" style="background-color: #1c2b2d; width: 100%; position: fixed;bottom: 0; height: 20px;">
    <div class="container-fluid" style="text-align: center; color: white">
        <small>© Copyrights Reserved</small>
    </div>
</nav>