<!-- home navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1c2b2d;">
    <div class="container-fluid">
        <!-- toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- toggle button ends here -->

        <!-- brand -->
        <a class="navbar-brand my-0" href="#"><img src="http://localhost:3000/images/logo/blueBirdLogo.svg" width="50px" height="50px" alt="bluebird logo"></a>
        <a class="navbar-brand" href="#">BlueBird</a>
        <!-- brand ends here -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/bluebird/doctor/home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <!-- login and signup buttons-->
            <form class="form-inline nav-item" id="sign-buttons">
                <a href="/bluebird/logout" class="btn btn-danger m-2 mx-lg-2 my-lg-0" id="logout-button">Logout</a>
            </form>
        </div>
    </div>
</nav>
