<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="stylesheets/main/home.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="http://localhost:3000/fav.png">
        

        <title>Bluebird | Homepage</title>
    </head>

    <body>

    <!-- navbar-->
    <%- include('../partials/navbar/navbar-home') %>

    <!-- flash -->
    <div class="container mx-3">
        <%- include('../partials/flash') %>
    </div>

    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-12 col-md-6 d-none d-md-block">
                <div class="row">
                    <div class="container mx-3 mt-4">
                        <h1>Access Records <br> anywhere any time using BlueBird</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="container mx-3 my-2" id="web-description">
                        <p class="lead mb-3">
                            <h5>Making and managing appointments easier then before, <br>
                                our system manages your appointments <br>
                                and helps doctor to provide prescriptions efficiently<br>
                                also features research based data organisation.
                            </h5>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="container mx-3 my-2">
                        <a class="btn btn-success btn-lg" id="join-us-button">Join Us</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="container my-2" id="main-logo">
                    <img class="responsive" src="http://localhost:3000/images/logo/blueBirdLogo2.svg" max-height="auto" max-width="100%" alt="bluebird logo">
                </div>
            </div>
        </div>
    </div>


    <!-- container two -->
    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="container p-4">
                    <!-- carousel -->
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../images/home-images/0.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Electronic Prescription</h5>
                                    <p>Easier accessibility of records</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/home-images/1.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Never take wrong medicines</h5>
                                    <p>Our advance system helps you to take correct medicines based on your symptom and past record</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/home-images/2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Bluebird Blogs</h5>
                                    <p>Find information about upcoming technology and medical research</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    <!-- carousel end -->
                </div>
            </div>

            <div class="col-6 col-md-6 p-2">
               <div class="container p-3 mt-md-5">
                 <div class="card" id="container-two-card">
                     <div class="card-body">
                         <h5>We enable you to bridge the gap between treatment and lifestyle.</h5>
                         <h5>By providing various facilities</h5>
                         <ul>
                             <li>Better Quality of Patient Care</li>
                             <li>Security to Patients Data</li>
                             <li>Timely, accurate health Data</li>
                             <li>Reduction in Medical Errors</li>
                             <li>Increases Efficiency in Medical Research</li>
                         </ul>
                     </div>
                 </div>
               </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container-fluid pb-0 mb-0 justify-content-center text-light " id="foot">
        <footer>
            <div class="row my-5 justify-content-center py-5">
                <div class="col-11">
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                            <h3 class="text-muted mb-md-0 mb-5 bold-text"><img src="http://localhost:3000/images/logo/blueBirdLogo.svg" width="50px" height="50px" alt="bluebird logo"> Bluebird</h3>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                            <ul class="list-unstyled">
                                <li>Home</li>
                                <li>About</li>
                                <li>Blog</li>
                                <li>Portfolio</li>
                            </ul>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                            <p class="mb-1">KIET Group of Institutions</p>
                            <p>Delhi-NCR, Meerut Road, Ghaziabad</p>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                            <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> Bluebird All Rights Reserved.</small>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                            <h6 class="mt-55 mt-2 text-muted bold-text"><b>Contact Us</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> bluebird@gmail.com</small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    </body>
</html>